* {
  font-family: "Open Sans", sans-serif;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #072146;
  height: 90vh;
  width: 35vw;
  color: white;
  border-radius: 40px;
}

button {
  border-radius: 5px;
}

img {
  height: 40vh;
}
