* {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100px;
  margin: 10px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgba(201, 166, 233, 0.562);
  width: 40vw;
}

.sticker {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sticker img {
  height: 100px;
}
